# My Jupyter Notebook on IBM Watson Studio

**Syed Shahmeer Ali, Civil Engineer | Data Scientist**

<em>I am interested in Data Science because I love to code and solve complex queries</em>

### My code is going to show you a series of number from 1-10

In [5]:
a = range(10)
for i in a:
    print(i)

0
1
2
3
4
5
6
7
8
9

| numbers  | variables  | author |
| -------- | ---------- | ------ |
| 0        | a          | shah   |
| 1        | b          | shah   |
| 2        | c          | shah   |
| 3        | d          | shah   |
| 4        | e          | shah   |
| 5        | f          | shah   |
| 6        | g          | shah   |
| 7        | h          | shah   |
| 8        | i          | shah   |
| 9        | j          | shah   |
| 10       | k          | shah   |

* 0
* 1
* 2
* 3
* 4
* 5
* 6
* 7
* 8
* 9 
* 10

1. 0
2. 1
3. 2
4. 3
5. 4
6. 5
7. 6
8. 7
9. 8
10. 9
11. 10

* 0
* 1
* 2
* 3
* 4
* 5
* 6
* 7
* 8